<!--
  Generated template for the ItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar >
    <ion-title style="background-color:rgb(119,32,20)">Anuncio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding padding style="background-color:rgb(156, 82, 73)">

  <ion-card style="background-color:rgb(184, 145, 139)">
  
    <ion-slides pager>
  
      <ion-slide *ngFor="let img of imgs">
        <img src="https://img.segundamano.mx/medium/{{img.path}}">
      </ion-slide>
  
    </ion-slides>
  </ion-card>
  
  <ion-card style="background-color:rgb(184, 145, 139)">
    <ion-item style="background-color:rgb(184, 145, 139)">
  
      {{item.ad.subject}}
  
      <ion-icon *ngIf="!fav.checkFav(item)" name="heart" item-end (click)="favoritos(item)"></ion-icon>
  
      <ion-icon *ngIf="fav.checkFav(item)" name="heart" color="danger" item-end (click)="fav.removeFav(item)"></ion-icon>
   
    </ion-item>
  
    <ion-item style="background-color:rgb(184, 145, 139)">
      <h1 *ngIf="item.ad.hasOwnProperty('list_price')" style="background-color:rgb(184, 145, 139)">
        {{item.ad.list_price.label}}
      </h1>
      <ion-icon name="share" item-end></ion-icon>
    </ion-item>
  
    <ion-card-content *ngIf="item.ad.hasOwnProperty('ad_details')">
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('estate_type')">
        Tipo de inmueble: {{item.ad.ad_details.estate_type.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('rooms')">
        Habitaciones: {{item.ad.ad_details.rooms.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('bathrooms')">
        Baños: {{item.ad.ad_details.bathrooms.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('size')">
        Superficie: {{item.ad.ad_details.size.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('lot_area')">
        Terreno: {{item.ad.ad_details.lot_area.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('parking_lots')">
        Cochera: {{item.ad.ad_details.parking_lots.single.label}} coche(s)
      </h2>
  
    </ion-card-content>
  </ion-card>
  
  <ion-card style="background-color:rgb(184, 145, 139)">
  
    <ion-item style="background-color:rgb(184, 145, 139)">
      <ion-avatar item-start>
        <img src="../../assets//imgs/logo.png">
      </ion-avatar>
      <h2 *ngIf="item.ad.hasOwnProperty('user')" style="color:rgb(175, 67, 25) ">
        {{item.ad.user.account.name}}
      </h2>
  
      <p *ngIf="item.ad.hasOwnProperty('user')">
        {{item.ad.user.account.since}}
      </p>
  
    </ion-item>
  
  </ion-card>
  
  <ion-card style="background-color:rgb(184, 145, 139)">
  
    <ion-card-header style="color:#139490" *ngIf="item.ad.hasOwnProperty('ad_details')">
      Características
    </ion-card-header>
  
    <ion-card-content *ngIf="item.ad.hasOwnProperty('ad_details')">
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('estate_type')">
        Tipo de inmueble: {{item.ad.ad_details.estate_type.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.hasOwnProperty('locations')">
        Ubicacion: {{item.ad.locations[0].locations[0].locations[0].label}}, {{item.ad.locations[0].locations[0].label}},
        {{item.ad.locations[0].label}}
      </h2>
  
      <h2 *ngIf="item.ad.hasOwnProperty('list_time')">
        Fecha de publicacion: {{item.ad.list_time.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('bathrooms')">
        Baños: {{item.ad.ad_details.bathrooms.single.label}}
      </h2>
  
      <h2 *ngIf="item.ad.ad_details.hasOwnProperty('parking_lots')">
        Cochera: {{item.ad.ad_details.parking_lots.single.label}} coche(s)
      </h2>
  
    </ion-card-content>
  
  </ion-card>
  
  <ion-card style="background-color:rgb(184, 145, 139)">
    <h2 *ngIf="item.ad.hasOwnProperty('body')" style="color:#139490">
      Descripcion
    </h2>
    <p *ngIf="item.ad.hasOwnProperty('body')">
      {{item.ad.body}}
    </p>
  </ion-card>

</ion-content>
